.vertical-tabs-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

.vertical-tabs {
  display: flex;
  width: 100%;
  /* height: 100%; */
}

.vertical-tab-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-right: 1px solid #ccc;
  margin-right: 20px;
  width: 250px;
  overflow-y: auto;
}

.vertical-tab-trigger {
  padding: 10px 20px;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.vertical-tab-trigger:hover {
  background-color: #f0f0f0;
}

.vertical-tab-content {
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.full-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}
