.data-table-dimension {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.shad-table-dimension {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
}

.shad-table-dimension th,
.shad-table-dimension td {
  text-align: left;
  box-sizing: border-box;
}

.shad-table-row-header-dimension {
  background-color: inherit;
}

.sticky-dimension {
  position: sticky;
  top: 0;
  z-index: 10;
}

.table-actions-dimension {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
